<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.decode.molly">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5406644774638089~8402187328"/>


        <activity
            android:name=".Activities.FormarGrupoActivity"
            android:label="@string/title_activity_formar_grupo"
            android:parentActivityName=".Activities.PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.decode.molly.Activities.PrincipalActivity" />
        </activity>
        <activity
            android:name=".Activities.ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".Activities.PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.decode.molly.Activities.PrincipalActivity" />
        </activity>
        <activity android:name=".Activities.PerfilActivity" />
        <activity
            android:name=".Activities.PrincipalActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.CadrastroActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>